
{% extends 'base.back.html.twig' %}

{% block title %}users liste{% endblock %}

{% block body %}
<section id="main-content">
<section class="wrapper">


                    <input type="text" id="search" class="form-control" placeholder="Search here">

        <div class="row">
          <div class="col-lg-12">
      
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>


            <script type="text/javascript">
                jQuery(document).ready(function() {
                    var searchRequest = null;
                    $("#search").keyup(function() {
                        var minlength = 1;
                        var that = this;
                        var value = $(this).val();
                        var entitySelector = $("#entitiesNav").html('');                        
                        if (value.length >= minlength ) {
                            if (searchRequest != null)
                                searchRequest.abort();
                            searchRequest = $.ajax({
                                type: "GET",
                                url: "{{ path('searshusers') }}",
                                data: {
                                    'q' : value
                                },
                                dataType: "text",
                                success: function(msg){
                                    //we need to check if the value is the same
                                    if (value===$(that).val()) {
                                        var result = JSON.parse(msg);
                                        $.each(result, function(key, arr) {
                                            $.each(arr, function(id, value) {
                                                if (key === 'users') {
                                                    if (id !== 'error') {
                                                        //console.log(value[1]);
                                                        console.log(value[0]);
                                                        entitySelector.append('<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">'+
              '<div class="custom-box">'+
                '<div class="icn-main-container">'+
                  '<img src="uploads/images/user/'+value[0]+'" height="200" width="200">'+
               '</div>'+
             '<ul class="pricing">'+
            '<li>E-mail :'+value[1]+'</li>'+
             '<li>Role(s) : '+value[2]+'</li>'+
           '<li>Prénom : '+value[3]+'</li>'+
              '<li>Nom : '+value[4]+'</li>'+
                '<li>Date de naissance :'+value[5]+'</li>'+
              '<li>sexe : '+value[6]+'</li>'+
             '<li>GSM : '+value[7]+'</li>'+
            '<li>Adresse : '+value[8]+'</li>'+
              '</ul>'+
                              '<ul class="pricing">'+
         '</ul>'+
        '</div>'+
          
          '</div>'
);
                                                       //entitySelector.append(' <div class="row"> <div class="col-lg-8 p-0"><div class="blog-item"> <div class="bi-pic"> <img src="public/picture/'+value[1]+'"></div> <div class="bi-text">  <h5><a href="#">'+value[1]+'</a></h5> <p><a  style="border-radius: 50% 20% / 10% 40%;background: #f36100;float: right;" class="p-1 mb-1  text-white " href="/detailRegime/'+id+'"> Détails </a> </p></div> </div>');
                                                    } else {
                                                        entitySelector.append('<li class="errorLi">'+value+'</li>');
                                                    }
                                                }
                                            });
                                        });
                                    }
                                }
                            });
                        }
                    });
                });
            </script>
             
<div class="input-group custom-search-form" id="entitiesNav">
{% for c in user %}

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <div class="custom-box">
                <div class="icn-main-container">
                  <img src="uploads/images/user/{{ c.getImgName() }}" height="200" width="200">
                </div>
                <ul class="pricing">
                 <li>E-mail : {{ c.email }}</li>
                 <li>Role(s) : {{ c.roles|join('/////') }}</li>
               <li>Prénom : {{ c.firstname }}</li>
                <li>Nom : {{ c.lastname }}</li>
                <li>Date de naissance : {{ c.getDateDN()|date('d-m-Y') }}</li>
                <li>sexe : {{ c.sexe }}</li>
                <li>GSM : {{ c.getTelNum() }}</li>
                <li>Adresse : {{ c.adresse}}</li>
                </ul>
                                <ul class="pricing">
                </ul>
              {% if c.getdisable() == false  %}
                <a class="btn btn-theme" href="{{ path('disable', {'id': c.id}) }}">disable</a>
              {% else %}
                <a class="btn btn-theme" href="{{ path('enable', {'id': c.id}) }}">enable</a>
                  {% endif %}
                  {% if c.getroles == ['ROLE_CLIENT','ROLE_ADMIN']  %}
                  
                    <a class="btn btn-theme" href="{{ path('downupgrade', {'id': c.id}) }}">fire him</a>
                  {% else %}
                     <a class="btn btn-theme" href="{{ path('upgrade', {'id': c.id}) }}">make him admin</a>
                  {% endif %}
                   <a class="btn btn-theme" href="{{ path('delete', {'id': c.id}) }}">Delete</a>
              </div>
              <!-- end custombox -->
            </div>
            {% endfor %}
            <!-- end col-4 -->
  
            <!-- end col-4 -->
          </div>
          <!--  /col-lg-12 -->
        </div>
        <!--  /row -->
      </section>
        <center>{{ knp_pagination_render(user) }}</center>
      </section>
   
{% endblock %}
