
{% extends 'base_back.html.twig' %}

{% block title %}Ajouter Hotels{% endblock %}

{% block body %}

    <section id="main-content">
        <section class="wrapper">

            <h3><i class="fa fa-angle-right"></i> list voitures</h3>
            <input type="text" id="search" class="form-control" placeholder="Search here">
                </div>
                <!-- /input-group -->
            </div>
            <!--<ul class="nav" id="side-menu">
                <li>
                    <a href="#"> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level" id="entitiesNav">
                    </ul>
                </li>
            </ul><br><br><br><br>-->
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

            <script type="text/javascript">
                jQuery(document).ready(function() {
                    var searchRequest = null;
                    $("#search").keyup(function() {
                        var minlength = 1;
                        var that = this;
                        var value = $(this).val();
                        var entitySelector = $("#entitiesNav").html('');                        
                        if (value.length >= minlength ) {
                            if (searchRequest != null)
                                searchRequest.abort();
                            searchRequest = $.ajax({
                                type: "GET",
                                url: "{{ path('searchVoiture') }}",
                                data: {
                                    'q' : value
                                },
                                dataType: "text",
                                success: function(msg){
                                    //we need to check if the value is the same
                                    if (value===$(that).val()) {
                                        var result = JSON.parse(msg);
                                        $.each(result, function(key, arr) {
                                            $.each(arr, function(id, value) {
                                                if (key === 'voiture') {
                                                    if (id !== 'error') {
                                                        //console.log(value[1]);
                                                        console.log(value[0]);
                                                        entitySelector.append('<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">'+
                                                            '<div class="custom-box">'+
                                                                '<div class="icn-main-container">'+
                                                                    '<img src="uploads/image/'+value[0]+'" height="200" width="200">'+
                                                                '</div>'+
                                                                '<ul class="pricing">'+
                                                                '<li>'+value[1]+'</li>'+
                                                                    '<li>marque : '+value[2]+'</li>'+
                                                                    '<li>model : '+value[3]+'</li>'+
                                                                    '<li>nombre de sièges : '+value[4]+'</li>'+
                                                                    '<li>type de voiture : '+value[5]+'</li>'+
                                                                    '<li>prix : '+value[6]+'</li>'+
                                                                '</ul>'+
                                                                '<ul class="pricing">'+
                                                                '</ul>'+
                                                                '<a class="btn btn-success" href="{{ path('modifvoiture',{'id':'+value[7]+'}) }}">Modifier</a>'+
                                                                '<a class="btn btn-danger" href="{{ path('supp_voiture',{'id':'+value[7]+'}) }}">Supprimer</a>'+
                                                            '</div>'+
                                                            '<!-- end custombox -->'+
                                                        '</div>'
                                            );
                                                       //entitySelector.append(' <div class="row"> <div class="col-lg-8 p-0"><div class="blog-item"> <div class="bi-pic"> <img src="public/picture/'+value[1]+'"></div> <div class="bi-text">  <h5><a href="#">'+value[1]+'</a></h5> <p><a  style="border-radius: 50% 20% / 10% 40%;background: #f36100;float: right;" class="p-1 mb-1  text-white " href="/detailRegime/'+id+'"> Détails </a> </p></div> </div>');
                                                    } else {
                                                        entitySelector.append('<li class="errorLi">'+value+'</li>');
                                                    }
                                                }
                                            });
                                        });
                                    }
                                }
                            });
                        }
                    });
                });
            </script>
       <div class="input-group custom-search-form" id="entitiesNav">

            {% for voiture in v %}

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="custom-box">
                    <div class="icn-main-container">
                        <img src="uploads/image/{{ voiture.getImage() }}" height="200" width="200">
                    </div>
                    <ul class="pricing">
                        <li>{{ voiture.matricule }}</li>
                        <li>marque : {{ voiture.marque }}</li>
                        <li>model : {{ voiture.model }}</li>
                        <li>nombre de sièges : {{ voiture.nbsieges }}</li>
                        <li>type de voiture : {{ voiture.type }}</li>
                        <li>prix : {{ voiture.prix }}</li>
                    </ul>
                    <ul class="pricing">
                    </ul>
                    <a class="btn btn-success" href="{{ path('modifvoiture',{'id':voiture.id}) }}">Modifier</a>
                    <a class="btn btn-danger" href="{{ path('supp_voiture',{'id':voiture.id}) }}">Supprimer</a>
                </div>
                <!-- end custombox -->
            </div>



             {% endfor %}

             {{ knp_pagination_render(v) }}


        </section>
        <!-- /wrapper -->
    

</section>

         {% endblock %}