{% extends 'base_back.html.twig' %}

{% block title %} ajouter chambres {% endblock %}

{% block body %}

    <section id="main-content">
        <section class="wrapper">
            <h3><i class="fa fa-angle-right"></i>Ajouter Chambres</h3>



            {{ form_start (c,{attr:{novalidate:'novalidate'}}) }}


            <div class="row mt">
                <div class="col-lg-12">
                    <div class="form-panel">
                        <div class=" form">
                                <div class="form-group ">
                                    <label for="cname" class="control-label col-lg-2">type de chambre</label>
                                    {{ form_widget (c.typeChambre) }}
                                    {{ form_errors (c.typeChambre,{'attr':{'class':'text-danger'}}) }}
                                </div>


                                <div class="form-group ">
                                    <label for="cnbetoils" class="control-label col-lg-2">nombre de lit  </label>
                                    {{ form_widget (c.nbrLit) }}
                                </div>
                                {{ form_errors (c.nbrLit,{'attr':{'class':'text-danger'}}) }}
                                <div class="form-group ">
                                    <label for="curl" class="control-label col-lg-2">description</label>
                                    {{ form_widget (c.description) }}
                                </div>
                                {{ form_errors (c.description,{'attr':{'class':'text-danger'}}) }}
                                <div class="form-group ">
                                    <label for="ccomment" class="control-label col-lg-2">prix </label>
                                    {{ form_widget (c.prix) }}
                                </div>
                                {{ form_errors (c.prix,{'attr':{'class':'text-danger'}}) }}

                               
                                <div class="form-group last">
                                    <label class="control-label col-md-3">Image Upload</label>
                                    <div class="col-md-9">
                                        <div class="fileupload fileupload-new" data-provides="fileupload">
                                            <div>
                                                <span class="btn btn-theme02 btn-file">
                                                    {{ form_widget (c.image) }}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                  

                                    {{ form_widget (c.ajouter) }}
                                     
                                {{form_end (c)}}

                                 </div>
                            </form>
                        </div>
                    </div>
                    <!-- /form-panel -->
                </div>
                <!-- /col-lg-12 -->
            </div>
            
            <!-- /row -->
            <!-- /row -->
        </section>
        <!-- /wrapper -->
    </section>
    {% endblock %}
  

