
{% extends 'base.front.html.twig' %}

{% block title %}Les evenements{% endblock %}

{% block body %}

<link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">





<section class="inner_page_breadcrumb">
	<div class="container">
		<div class="row">
			<div class="col-xl-6 offset-xl-3 text-center">
				<div class="breadcrumb_content">
					<h4 class="breadcrumb_title">Les evenements</h4>
					<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="#">Home</a></li>
							<li class="breadcrumb-item active" aria-current="page">Events</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</section>


<section id="top-courses" class="our-team pt90 pt650-992">
	<div class="col-xl-10">

	</div>
 <div class="container">
<div class="row">


		<div class="col-lg-12">


        <div class="emply-text-sec">


          <div class="row" id="masonry_abc">

{% for c in event %}
     <div class="col-md-6 col-lg-4 col-xl-3">
							<div class="top_courses">
								<div class="thumb">
									<img class="img-whp" src="uploads/images/events/{{ c.image  }}" alt="les image de cours" width="307" height="200">
									<div class="overlay">
										<div class="tag">{{ c.typeevent }}</div>

									</div>
								</div>
								<div class="details">
									<div class="tc_content">
										<p>{{ c.dateevent|date('d-m-Y') }}</p>
										<h5>{{ c.nom }}</h5>
					<h5> 	<li class="list-inline-item" ><p style="color: blue"  >Prix : {{ c.prix }} DT</h5></p></li>	
						
									</div>
                                    
									<div class="tc_footer">
										<ul class="tc_meta float-left">
                      									
                                                            {% if c.capacite > 5   %}
											
                                            <li class="list-inline-item" ><p style="color: green"  >Il reste {{ c.capacite }} place(s)</p></li>
                                            {% else  %}
                                            <li class="list-inline-item" ><p style="color: red"  >Il reste {{ c.capacite }} place(s)</p></li>
                      							{% endif   %}
                                                              

										</ul>
                                              <ul class="tc_meta float-left">

                                        </ul>                                  
                                      
								 {% if check is defined  %}		 
										 
										  {% set checkpar = true %}
 											{% for ch in check  %}
  													 {% if c.idevent == ch.idevenement  %}
                                  {% set checkpar = false %}
												 {% endif   %}
                                               {% endfor %}
								 {% if checkpar == true  %}
								 {% if c.capacite != 0  %}
								   <ul class="tc_meta float-right">
									   <a href="{{ path( 'participer' , {'id':c.idEvent} )}}"><button type="button" class="btn btn-lg btn-thm">participer</button></a>
									    </ul>
									   {% endif   %} 
                                {% else  %}
								 <ul class="tc_meta float-right">
										 <a href="{{ path( 'imparticiper' , {'id':c.idEvent} )}}"><button type="button" class="btn btn-lg btn-thm">imparticiper </button></a> 
										 </ul>
                      		{% endif   %}	
							    {% else  %}
								 {% if c.capacite != 0  %}
								  <ul class="tc_meta float-right">
                            <a href=""><button type="button" class="btn btn-lg btn-thm">participer</button></a> 
							
							 </ul>
							{% endif   %} 
                           {% endif   %}	
                                       
									
                                         
									</div>
                                   
								</div>
							</div>
						</div>


{% endfor %}



						<div class="product_single_content style2 mb30">
							<div class="mbp_pagination_comments">
								<div class="mbp_first media">
									<img src="images/resource/review1.png" class="mr-3" alt="review1.png">
									<div class="media-body">
								    	<h4 class="sub_title mt-0">med
											<span class="sspd_review float-right">
												<ul>
													<li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
													<li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>

													<li class="list-inline-item"></li>
												</ul>
											</span>
								    	</h4>
								    	<a class="sspd_postdate fz14" href="#">6 months ago</a>
								    	<p class="fz15 mt20">This is the second Photoshop course I have completed with Cristian. Worth every penny and recommend it highly. To get the most out of this course, its best to to take the Beginner to Advanced course first.</p>
								    	<p class="fz15 mt25 mb25">The sound and video quality is of a good standard. Thank you Cristian.</p> <div class="ssp_reply float-right"><span class="flaticon-consulting-message"></span><span class="pl10">Reply</span></div>
								    	<div class="sspd_review_liked"><a href="#"><i class="flaticon-like-1"></i> <span class="text-thm6 pl5 pr5 fz15">15</span> Thank Waren</a></div>
										<div class="custom_hr style2"></div>
									    <div class="mbp_sub media">
									    	<a href="#"><img src="images/resource/review1.png" class="mr-3" alt="review1.png"></a>
									        <div class="media-body">
									        	<h4 class="sub_title mt-0">Anton Hilton
													<span class="sspd_review float-right">
														<ul>
															<li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
															<li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
															<li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
															<li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
															<li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
															<li class="list-inline-item"></li>
														</ul>
													</span>
									        	</h4>
										    	<a class="sspd_postdate fz14" href="#">6 months ago</a>
										    	<p class="fz15 mt20 mb50">This is the second Photoshop course I have completed with Cristian. Worth every penny and recommend it highly. To get the most out of this course, its best to to take the</p>
										    	<div class="ssp_reply float-right"><span class="flaticon-consulting-message"></span><span class="pl10">Reply</span></div>
								    			<div class="sspd_review_liked">
								    				<a href="#"><i class="flaticon-like-1"></i><span class="text-thm6 pl5 pr5 fz15">15</span> Thank Waren</a>
								    			</div>
									    	</div>
									    </div>
									</div>
								</div>
								<div class="custom_hr"></div>
								<div class="mbp_second media">
									<img src="images/resource/review1.png" class="align-self-start mr-3" alt="review1.png">
									<div class="media-body">
								    	<h4 class="sub_title mt-0">Warren Bethell
											<span class="sspd_review float-right">
												<ul>
													<li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
													<li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
													<li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
													<li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
													<li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
													<li class="list-inline-item"></li>
												</ul>
											</span>
								    	</h4>
								    	<a class="sspd_postdate fz14" href="#">6 months ago</a>
								    	<p class="fz15 mt20">This is the second Photoshop course I have completed with Cristian. Worth every penny and recommend it highly. To get the most out of this course, its best to to take the Beginner to Advanced course first.</p>
								    	<p class="fz15 mt25 mb25">The sound and video quality is of a good standard. Thank you Cristian.</p> <div class="ssp_reply float-right"><span class="flaticon-consulting-message"></span><span class="pl10">Reply</span></div>
								    	<div class="sspd_review_liked"><a href="#"><i class="flaticon-like-1"></i> <span class="text-thm6 pl5 pr5 fz15">15</span> Thank Waren</a></div>
									</div>
								</div>
								
								<div class="custom_hr style3"></div>
								<div class="text-center mt50 mb30">
									
								</div>
							</div>
						</div>






<div class="custom_hr style3"></div>
							
							
							</div>
						</div>
						<div class="product_single_content style2">
							<div class="mbp_comment_form style2">
								<h4>Add Reviews & Rate</h4>
								<ul>
									<li class="list-inline-item pr15"><p>What is it like to Course?</p></li>
									<li class="list-inline-item">
										<span class="sspd_review">
											<ul>
												<li class="list-inline-item"><a href="#"><i class="fa fa-star fz18"></i></a></li>
												<li class="list-inline-item"><a href="#"><i class="fa fa-star fz18"></i></a></li>
												<li class="list-inline-item"><a href="#"><i class="fa fa-star fz18"></i></a></li>
												<li class="list-inline-item"><a href="#"><i class="fa fa-star fz18"></i></a></li>
												<li class="list-inline-item"><a href="#"><i class="fa fa-star fz18"></i></a></li>
												<li class="list-inline-item"></li>
											</ul>
										</span>
									</li>
								</ul>
								<form class="comments_form">
									<div class="form-group">
								    	<label for="exampleInputName1">Review Title</label>
								    	<input type="text" class="form-control" id="exampleInputName1" aria-describedby="textHelp">
									</div>
									<div class="form-group">
									    <label for="exampleFormControlTextarea1">Review Content</label>
									    <textarea class="form-control" id="exampleFormControlTextarea1" rows="6"></textarea>
									</div>
									<button type="submit" class="btn btn-thm">Submit Review <span class="flaticon-right-arrow-1"></span></button>
								</form>
							</div>
						</div>
					</div>
				</div>


						
					</div>
					
				</div>
			</div>
		</div>
	</div>
	
	


<div id="google_translate_element">
</div>

        <script type="text/javascript">
            function googleTranslateElementInit() {
                new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
            }
        </script>

        <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit">
        </script>


	



<!-- Flashy depends on jQuery -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Load Flashy default JavaScript -->
    <script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
    <!-- Include Flashy default partial -->
    {{ include('@MercurySeriesFlashy/flashy.html.twig') }}
    






</section>




{% endblock %}

